
<MatCard class="dsd-card">
    <div class="mat-card-header dsd-header">
        <MatCardActions>
            <MatH6>@Dashboard.Name</MatH6>
            <MatCardActionIcons>
                <MatIconButton Icon="@MatIconNames.Settings" OnClick="@(e => OnConfigure.InvokeAsync(Dashboard.Id))"></MatIconButton>
                <MatIconButton Icon="@MatIconNames.Delete" OnClick="@(e => OnDelete.InvokeAsync(Dashboard.Id))"></MatIconButton>
            </MatCardActionIcons>
        </MatCardActions>
    </div>
    <MatCardContent>

    </MatCardContent>
    <div class="mat-card-footer dsd-footer">
        <LabelBar Labels="@Dashboard.Labels"></LabelBar>
    </div>
</MatCard>

@code {
    [Parameter]
    public IDashboardLite Dashboard { get; set; }

    [Parameter]
    public EventCallback<string> OnConfigure { get; set; }

    [Parameter]
    public EventCallback<string> OnDelete { get; set; }
}