@using industry9.Common.Enums
@using industry9.Client.Data.Dto.DashboardWidget
@using industry9.Client.Data.Store.Features.Dashboard.Actions
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@inject IDispatcher Dispatcher
@inject IState<WidgetState> State

<MatDialog @bind-IsOpen="@IsOpen">
    <MatDialogTitle>@Title</MatDialogTitle>
    <MatDialogContent>
        @if (Operation == CRUDOperation.Create || Operation == CRUDOperation.Update)
        {
            <EditForm Model="@EditedObject" OnValidSubmit="@Submit">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <fieldset>
                    @if (State.Value.Widgets.Any())
                    {
                        <div class="form-group">
                            <MatSelectValue Label="Select widget" @bind-Value="@EditedObject.WidgetId" ValueSelector="@(w => w.Id)" Items="@State.Value.Widgets.Where(x => Operation == CRUDOperation.Update || !UsedWidgets.Contains(x.Id)).ToList()" Disabled="@(Operation == CRUDOperation.Update)" Outlined="true">
                                <ItemTemplate Context="widget">
                                    <span>@(widget.Name)</span>
                                </ItemTemplate>
                            </MatSelectValue>
                        </div>
                    }
                    else
                    {
                        var dummy = string.Empty;
                        <MatSelect Label="Select widget" @bind-Value="dummy">
                        </MatSelect>
                    }
                    <MatSubtitle1>Position</MatSubtitle1>
                    <div class="form-group d-flex">
                        <MatTextField Class="mr-1" Label="X" @bind-Value="@EditedObject.Position.X" Outlined="true"></MatTextField>
                        <MatTextField Class="ml-1" Label="Y" @bind-Value="@EditedObject.Position.Y" Outlined="true"></MatTextField>
                    </div>
                    <MatSubtitle1>Size</MatSubtitle1>
                    <div class="form-group d-flex">
                        <MatTextField Class="mr-1" Label="Width" @bind-Value="@EditedObject.Size.Width" Outlined="true"></MatTextField>
                        <MatTextField Class="ml-1" Label="Height" @bind-Value="@EditedObject.Size.Height" Outlined="true"></MatTextField>
                    </div>
                </fieldset>
                <MatDialogActions>
                    <MatButton Type="button" OnClick="Close">Cancel</MatButton>
                    <MatButton Type="submit" Raised="true">OK</MatButton>
                </MatDialogActions>
            </EditForm>
        }
        else
        {
            <MatDialogActions>
                <MatButton OnClick="Close">Cancel</MatButton>
                <MatButton OnClick="Delete" Raised="true">OK</MatButton>
            </MatDialogActions>
        }
    </MatDialogContent>
</MatDialog>

@code {

    [Parameter]
    public bool IsOpen { get; set; }

    [Parameter]
    public EventCallback<bool> IsOpenChanged { get; set; }

    [Parameter]
    public CRUDOperation Operation { get; set; }

    [Parameter]
    public DashboardWidgetData EditedObject { get; set; }

    [Parameter]
    public IReadOnlyCollection<string> UsedWidgets { get; set; }

    string Title => $"{(Operation == CRUDOperation.Create ? "Add" : Operation.ToString())} Widget{(Operation == CRUDOperation.Delete ? " ?" : "")}";

    async Task Submit(EditContext context)
    {
        Console.WriteLine("Submit {0}", context.Validate());
        await Close();
        Dispatcher.Dispatch(new UpsertDashboardWidgetResultAction(EditedObject, true, Operation == CRUDOperation.Create));
    }

    async Task Delete()
    {
        await Close();
        Dispatcher.Dispatch(new DeleteDashboardWidgetAction(EditedObject.DashboardId, EditedObject.WidgetId));
    }

    async Task Close()
    {
        Console.WriteLine("Close");
        IsOpen = false;
        await IsOpenChanged.InvokeAsync(false);
    }
}
