@using industry9.Client.Data.Dto

<MatCard class="dsd-card">
    <div class="mat-card-header dsd-header" style="background-color: @GetColor(Widget.Type)">
        <MatCardActions>
            <MatH6>@Widget.Name</MatH6>
            <MatCardActionIcons>
                <MatIconButton Icon="@MatIconNames.Settings" OnClick="@(e => OnConfigure.InvokeAsync(Widget.Id))"></MatIconButton>
                <MatIconButton Icon="@MatIconNames.Delete" OnClick="@(e => OnDelete.InvokeAsync(Widget.Id))"></MatIconButton>
            </MatCardActionIcons>
        </MatCardActions>
    </div>
    <MatCardContent>
        
    </MatCardContent>
    <div class="mat-card-footer dsd-footer">
        <LabelBar Labels="@Widget.Labels.Select(l => new LabelData(l.Name)).ToList()"></LabelBar>
    </div>
</MatCard>

@code {
    [Parameter]
    public IWidgetLite Widget { get; set; }

    [Parameter]
    public EventCallback<string> OnConfigure { get; set; }

    [Parameter]
    public EventCallback<string> OnDelete { get; set; }

    static string GetColor(WidgetType type)
    {
        return "";
    }
}
