@using industry9.Common.Enums
@using industry9.Client.Data.Dto.Widget
@using industry9.Client.Data.Store.Features.Widget.Actions
@using WidgetType = industry9.Client.Data.GraphQL.Generated.WidgetType
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@inject IDispatcher Dispatcher

<MatDialog @bind-IsOpen="@IsOpen">
    <MatDialogTitle>@Title</MatDialogTitle>
    <MatDialogContent>
        @if (Operation == CRUDOperation.Create || Operation == CRUDOperation.Update)
        {
            <EditForm Model="@EditedObject" OnValidSubmit="@Submit">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <MatTabGroup>
                    <MatTab Label="General">
                        <fieldset>
                            <div class="form-group">
                                <MatSelectItem Label="Select type" @bind-Value="@EditedObject.Type" Items="@Types" Disabled="@(Operation == CRUDOperation.Update)" Outlined="true">
                                    <ItemTemplate Context="dataSourceType">
                                        <span>@Enum.GetName(typeof(WidgetType), dataSourceType)</span>
                                    </ItemTemplate>
                                </MatSelectItem>
                            </div>
                            <div class="form-group">
                                <MatTextField Label="Name" @bind-Value="@EditedObject.Name" Outlined="true"></MatTextField>
                            </div>
                        </fieldset>
                    </MatTab>
                    <MatTab Label="DataSources">
                        <DataSourceConfiguration ColumnMappings="@EditedObject.ColumnMappings"></DataSourceConfiguration>
                    </MatTab>
                </MatTabGroup>
                <MatDialogActions>
                    <MatButton Type="button" OnClick="Close">Cancel</MatButton>
                    <MatButton Type="submit" Raised="true">OK</MatButton>
                </MatDialogActions>
            </EditForm>
        }
        else
        {
            <MatDialogActions>
                <MatButton OnClick="Close">Cancel</MatButton>
                <MatButton OnClick="Delete" Raised="true">OK</MatButton>
            </MatDialogActions>
        }
    </MatDialogContent>
</MatDialog>

@code {
    [Parameter]
    public bool IsOpen { get; set; }

    [Parameter]
    public EventCallback<bool> IsOpenChanged { get; set; }

    [Parameter]
    public CRUDOperation Operation { get; set; }

    [Parameter]
    public WidgetData EditedObject { get; set; }

    string Title => $"{Operation} Widget{(Operation == CRUDOperation.Delete ? " ?" : "")}";

    static readonly WidgetType[] Types =
        Enum.GetValues(typeof(WidgetType))
            .Cast<WidgetType>()
            //.Where(x => x != WidgetType.)
            .ToArray();

    async Task Submit(EditContext context)
    {
        await Close();
        Dispatcher.Dispatch(new UpsertWidgetResultAction(EditedObject, true));
    }

    async Task Delete()
    {
        await Close();
        Dispatcher.Dispatch(new DeleteWidgetAction(EditedObject.Id));
    }

    async Task Close()
    {
        IsOpen = false;
        await IsOpenChanged.InvokeAsync(false);
    }
}
